.confirm__content{
    margin: 0 auto;
    padding: 5px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
    user-select: none;
}

.form {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.confirm-table {
    border: 1px solid  #876b54;
}

.confirm-table__inner{
    width: 100%;
}

.confirm-table__header{
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid  #ffffff;
    background-color: #876b54;
    color: white;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #876b54;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}